body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: #F0E593;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin-left: 32px;
}

.body1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    background: #F8BC43;
}

.body2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    background: #97D8ED;
}

.body3 {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    background: #52AABC;
}

.body4 {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    background: #A6620A;
}

#allImages {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    max-height: 45vh;
    max-width: 50vw;
    transition: transform 5s;
    
}

#carouselWindow {
    max-height: 50vh;
    max-width: 50vw;
    
    
    overflow: hidden;
    border: solid black;

    
}

a{
    max-width: 100%;
    max-height: 100%;
}

 img {
    max-width: 100%;
    max-height: 100%;
}

.links {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;

    margin: 10px;
    margin-right: 32px;
}