<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="public/stylesheets/style.css">
    <script src="public/javascripts/caroselController.js" defer></script>
</head>
<body>
    <header>
        <h1>George Fotheringham</h1>
        <div class="links">
            <a href="https://github.com/Gham556"> <h2>Github</h2></a>
            <a href=""> <h2>Resume</h2></a>
            <a href="https://www.linkedin.com/in/george-fotheringham-642976171/"> <h2>Linkedin</h2></a>
        </div>    
    </header>
    <div class="body1"> 
        <h1>Featured Projects</h1>
        <div id="carouselWindow">
            <div id="allImages">
                <a href="https://github.com/Gham556/Memory-Card"><img src="public/images/fredy-jacob-t0SlmanfFcg-unsplash.jpg" alt="memory-card" href="https://github.com/Gham556/Memory-Card"></a>
                <a href="https://github.com/Gham556/Knights-Travais"> <img src="public/images/hassan-pasha-7SjEuEF06Zw-unsplash.jpg" alt="chess-knights"> </a>
                <a href="https://github.com/Gham556/Inventory-Application"> <img src="public/images/scott-graham-5fNmWej4tAA-unsplash.jpg" alt="computers"> </a>
            </div>
        </div>
        <div class='buttons'> 
            <button id="next">Next</button>
            <button id="last">Last</button>
        </div>   
    </div>
    <div class="body2">
        <h2>Who Am I And Why Should You Care?</h2>
        <p>I am an up and comming junior programmer who is completelty self taught. I started my journey into software development 3-months ago, after deciding a career in marketing wasn't for me. </p>
    </div>
    <div class="body3">
        <h2>What Are My Skills?</h2>
        <p>I am proficient in vanilla js, vanilla css, and html. I also have expreience using Node, React, and Express.</p>
    </div> 
    <div class="body4">
        <h2>Who Made This Website?</h2>
        <p>I did. This website is made using a Node backend and a js front-end.</p>
    </div>   
</body>
</html>