
  
  .images {
    width: 200px;
    height: 200px;
    margin: 32px;
  }
  
  .item {
    display: flex;
    margin: 32px;
  }
  
  .itemDetails {
    margin: 32px;
    width: 400px;
  }
  
  .itemName{
    align-self: center;
  }
  
  #navBar {
    display: flex;
    justify-content: center;
  }
  
  nav {
    display: grid; 
    grid-template-columns: repeat(2, 100px);
  }
  
  #cartHeader {
   text-align: center;
  }
  
  .cart {
    margin-left: 90%;
  }
  
  #cartHeader h1 {
    margin: 32px;
  }

  .itemForm {
    margin: 32px;
  }